<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>L01_RotationScale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9232542D1C7995C2002F38C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>923254411C7995C2002F38C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9232544C1C7995C2002F38C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
